* {
  color: white;
  font-family: sans-serif;
  transition: 0.2s ease-in-out;
  user-select: none;
}

body {
  background-color: #252a34;
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
}

.turn-container {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.turn-container h2 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.pick_turn {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.turn-box {
  border: 4px solid #000;
  font-size: 1.6rem;
  font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
  border-left: none;
}

.turn-background {
  background-color: #ff2e63;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 40px;
  /* background-color: #ff2e63; */
  z-index: -1;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 275px;
  width: 275px;
  margin: 30px auto;
  border: 2.5px solid #000;
}

.cell {
  cursor: pointer;
  font-size: 4rem;
  font-weight: 500;
  border: 2.5px solid #000;
}

.cell:hover {
  background-color: #ff2e63;
}

/* Style the reset button */
#play-again {
  background-color: #ff2e63;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

#play-again:hover {
  padding: 10px 40px;
  background-color: #08d9d6;
  color: #000;
}

.winning-cells {
  background-color: #08d9d6;
}
