:root {
  --pink-color: #ff2e63;
  --bg-color: #252a34;
  --border-color: #000;
  --text-color: white;
  --mode-color: rgb(245, 149, 5);
  --hover-color: #08d9d6;
}

* {
  color: var(--text-color);
  font-family: sans-serif;
  transition: 0.2s ease-in-out;
  user-select: none;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
}

h1 {
  font-size: 50px;
  margin-bottom: 35px;
  color: var(--mode-color);
}

.turn-container {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.turn-container h2 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.pick_turn {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  cursor: pointer;
}

.turn-box {
  border: 4px solid var(--border-color);
  font-size: 1.6rem;
  font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
  border-left: none;
}

.turn-background {
  background-color: var(--pink-color);
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 40px;
  /* background-color: var(--pink-color); */
  z-index: -1;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 275px;
  width: 275px;
  margin: 30px auto;
  border: 2.5px solid var(--border-color);
}

.cell {
  cursor: pointer;
  font-size: 4rem;
  font-weight: 500;
  border: 2.5px solid var(--border-color);
}

.cell:hover {
  background-color: var(--pink-color);
}

/* Style the reset button */
#play-again {
  background-color: var(--pink-color);
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

#play-again:hover {
  padding: 10px 40px;
  background-color: var(--hover-color);
  color: #000;
}

.winning-cells {
  background-color: var(--hover-color);
}

/* Modes buttons */
.mode {
  display: flex;
  justify-content: center;
}

.mode button {
  color: var(--mode-color);
  background-color: transparent;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 2%;
  margin-top: 6%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.mode button:hover {
  color: var(--text-color);
}
